.text {

    text-align: center;
}

.whypress {
    width: 80px;
    height: 80px;
    margin-left: 300px;
    margin-top: 80px;
    border-radius: 50%;
    font-size: 50px;

}


.dont {

    position: absolute;
    top: 300px;
    left: 600px;
    right: 600px;
    font-size: 100px;
    
    transition-duration: 3s;
    
}

.dont:hover {
    
    color: red;
    transform: rotateZ(9000deg);
}

